#address .addressBox{
    background: #ebebeb;
}
#address .addressBox .header{
    padding-left: 15px;
    font-size: 14px;
    line-height: 40px;
    color: #333;
    margin-top: -1px; 
}
#address .addressBox .item{
    background: #fff;
    display: flex;
    flex-wrap: wrap; 
}
#address .addressBox .item a{
    width: 25%;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    color: #838383;
}